html {
  background-color: #000;
}

.App {
  max-width: 70rem;
  margin: 2rem auto;
  background-color: #000;
  color: #fff;
}

.weather {
  height: 100%;
  background-color: #000;
  color: #fff;
}

.cryptoPrice,
.cryptoPriceContainer,
.newsContainer,
.newsBlock,
.weather,
.weatherContainer {
  background-color: #000;
  color: #fff;
}

.newsContainer,
.weatherContainer {
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  color: #fff;
}

.newsContainer {
  border: 1px solid #7c3aed;
  background-color: #000;
  color: #7c3aed;
}

.cryptoPriceContainer {
  line-height: 0.5;
  background-color: #000;
  color: #2563eb;
}

.weatherContainer {
  background-color: #000;
  color: #fff;
}

.news {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.newsBlock {
  flex-direction: column;
  color: #fff;
}

.newsTitle {
  margin-bottom: 1rem;
  font-weight: 500;
  display: block;
  color: #fff;
}

.newsGrid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  padding: 0;
  color: #fff;
}

.tileLayout {
  width: 100%;
  background-color: #000;
  color: #fff;
}

.dashboardAside {
  width: 15rem;
  color: #fff;
}

.k-tilelayout-item {
  background-color: #000;
  color: #fff;
}